<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key='enterByXpath' value='//*[@id="userbar"]/div[2]/div[1]'/>
    <add key='emailByCss' value='#auth-container__forms > div > div.auth-box__field > form > div:nth-child(1) > div:nth-child(1) > input'/>
    <add key='passwordByCss' value='#auth-container__forms > div > div.auth-box__field > form > div:nth-child(1) > div:nth-child(2) > input'/>
    <add key='submitByXpath' value='//*[@id="auth-container__forms"]/div/div[2]/form/div[4]/div/button'/>
    <add key='userbarByXpath' value='//*[@id="userbar"]/div[1]/p/a'/>
    <add key='catalogbarByClass' value='catalog-bar__item'/>
    <add key='headerByClass' value='schema-header__title'/>
    <add key='exitByXpath' value='//*[@id="userbar"]/div[1]/a'/>
  </appSettings>
</configuration>